<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Quiz</title>
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <img src="/images/logo.webp" alt="Logo" class="nav-logo">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/quiz" class="active">Quiz</a></li>
        <li><a href="/results">Results</a></li>
        <li><a href="/settings">Settings</a></li>        
    </ul>
    <img src="/images/logo.webp" alt="Logo" class="flipped">
  </nav>