<!--
    Author: Maira Bermeo
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Quiz</title>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>
<body>
 
<!--NAVBAR-->
<nav>
    <div class="left">
        <img src="/images/logo.webp">
    </div>
    <div class="middle">
        <h2>Brain Challenge Quiz</h2>
    </div>
    <div class="right">
        <img src="/images/logo.webp">

    </div>
</nav>

<div class="main">
<!--WELCOME-->
<div class = "welcome">
    <div class = "welcome-top">
        <h1>WELCOME <br>TO THE <br>BRAIN <br>GAME</h1>
    </div>
    <div class = "welcome-middle">
        <img src="/images/swiggle.webp">
    </div>
    <div class = "welcome-bottom">
        <h1>Group I</h1>
    </div>
</div>

<!--BUTTONS-->
<div class="widgets">
    <div class="start">
        <div class="startlogo">
            <img src="/images/button1.webp">
        </div>
        <div class="startbutton">
            <button class="start" onclick="window.location.href='/start'">START</button>
        </div>
    </div>
    <div class="settings">
        <div class="settingslogo">
            <img src="images/button2.webp">
        </div>
        <div class="settingsbutton">
            <button class="settings" onclick="window.location.href='/settings'">GAME SETTINGS</button>
        </div>
    </div>
</div>
</div>

<!--BOTTOM-->
<div class="characters">
    <img src="/images/image1.webp" alt="Image 1">
    <img src="/images/image2.webp" alt="Image 2">
    <img src="/images/image3.webp" alt="Image 3">
    <img src="/images/image4.webp" alt="Image 4">
    <img src="/images/image5.webp" alt="Image 5">
    <img src="/images/image6.webp" alt="Image 6">
</div>

<script src="/javascripts/tilt.js"></script>

</body>
</html>