<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/results.css">
  <title>Results</title>
</head>
<body>

  <%- include('header') %>

<div class="quiz-results-container">
  <img id="result-emoji" src="" alt="Result Emoji" class="nav-logo">
  <button class="quiz-results-button">Quiz Results</button>
  <img id="result-message" src="" alt="Result Message" class="nav-logo">
</div>

<div class="container">
  <div class="banner-container">
    <img src="/images/banner.svg" alt="Banner Shape" class="banner">
    <div class="score-text" style="top: 25% !important; margin-top: 10px !important;">Your Score:</div>
    <div id="score-percentage" class="score-value">0</div>
    <img src="/images/perc.webp" alt="Percentage" class="perc-image">
  </div>
</div>

<div class="restart-container">
  <a href="/quiz" class="restart-button">Restart Quiz</a>
</div>

<script src="/javascripts/results.js"></script>
</body>
</html>
