<!--
Author: Maira Bermeo
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Quiz</title>
    <link rel="stylesheet" href="/stylesheets/start.css">
</head>
<body>
 
<div class="title">
    <h1>QUIZ-TIME!</h1>
</div>

<script src="/javascripts/loading.js"></script>
<script src="/javascripts/wave.js"></script>
</body>
</html>